@import "../../styles/variables";

.button {
  background: $primary-color;
  border: 2px $primary-color solid;
  border-radius: 5px;
  color: $light-color;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 30px;
  transition: .3s;
  width: 100%;

  @media (min-width: $md-breakpoint) {
    margin: 0 10px;
    width: initial;
  }

  &:hover {
    background: $primary-color-hover;
    border-color: $primary-color-hover;
  }
}

.buttonSecondary {
  @extend .button;
  background: $light-color;
  border-color: $light-color;
  color: $dark-color;

  &:hover {
    background: $neutral-color;
    border-color: $neutral-color;
  }
}