@import "../../styles/common";

.title {
  @extend .title;
}

.subtitle {
  @extend .subtitle;
}

.noteBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.noteData {
  @extend .input;

  display: block;
  margin-bottom: 20px;
  max-width: 800px;
}

.noteText {
  @extend .text;

  max-width: 800px;
  width: 100%;
}

.noteButtons {
  display: flex;
  justify-content: center;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 0 auto 50px auto;
  row-gap: 20px;
}