$primary-color: #00A896;
$secondary-color: #4EC4AE;


$neutral-color: #707070;
$light-color: #EFEFEF;
$dark-color: #333232;
$error-color: #CE4257;

$main-font: "Poppins", sans-serif;

$sm-breakpoint: 360px;
$md-breakpoint: 760px;
$lg-breakpoint: 1024px;