@import "../../styles/variables";

.title {
  color: $dark-color;
  font-family: $main-font;
  font-size: 22px;
  text-align: center;

  @media (min-width: $sm-breakpoint) {
    font-size: 28px;
  }
}