@import "../../styles/common";

.container {
  margin-inline: auto;
  max-width: 900px;
  padding-inline: 50px;
  width: 100%;
}

.title {
  @extend .title;
}

.input {
  @extend .input;
}

.tripsList {
  margin-block: 20px;
}