@import "../../styles/common";

.container {
  margin-inline: auto;
  max-width: 900px;
  padding-inline: 50px;
  width: 100%;
}

.title {
  @extend .title;
}

.text {
  @extend .text;
}

.subtitle {
  @extend .subtitle;
}

.actionButton {
  margin: 20px 0 !important;
  padding: 10px 15px;
}