@import "../../styles/variables";

.container {
  border: 2px solid $secondary-color;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto 50px auto;
  overflow: hidden;
}

.text {
  font-family: $main-font;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.location {
  color: $neutral-color;
  display: block;
  font-size: 13px;
  margin: 5px 0 10px;
  padding-bottom: 3px;
  width: 100%;
}

.description {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  white-space: pre-wrap;
}

.details {
  margin: 20px 20px 20px 40px;
  width: 60%;
}