@import "../../styles/variables";
@import "../../styles/common";

.container {
  border: 2px solid $secondary-color;
  border-radius: 15px;
  margin: 0 10px 50px 10px;
  max-width: 800px;
  overflow: hidden;

  @media (min-width: $md-breakpoint) {
    margin: 0 auto 50px auto;
  }
}

.locationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 100%;

  @media (min-width: $md-breakpoint) {
    flex-direction: row;
  }
}

.actionButton {
  margin-inline: 0 20px;
  padding: 10px 15px;
}

.text {
  font-family: $main-font;
}

.title {
  color: $dark-color;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  
  @media (min-width: $sm-breakpoint) {
    font-size: 30px;
  }
}

.location {
  color: $neutral-color;
  display: block;
  font-size: 13px;
  margin: 5px 0 10px;
  padding-bottom: 3px;
  width: 100%;
}

.description {
  color: $dark-color;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  white-space: pre-wrap;

  @media (min-width: $sm-breakpoint) {
    -webkit-line-clamp: 4;
  }

  @media (min-width: $md-breakpoint) {
    -webkit-line-clamp: 5;
  }
}

.details {
  margin: 20px 30px;

  @media (min-width: $md-breakpoint) {
    margin: 20px 20px 20px 40px;
    width: 60%;
  }
}

.modalText {
  @extend .text;
}

.tripSelect {
  @extend .text;
  border-radius: 5px;
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
}

.addNewTripButton {
  margin: 0;
}

.notesContainer {
  align-items: center;
  display: flex;
  margin: 10px 40px 30px;
}

.noteText {
  @extend .text;

  width: 100%;
}

.noteData {
  @extend .input;

  display: block;
  flex-grow: 1;
  width: auto;
}