@import "../../styles/variables";

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0 50px;
  width: 100%;
}

.input {
  border: 2px $dark-color solid;
  border-radius: 5px;
  color: $dark-color;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 20px;
}

.select {
  padding: 9px 20px;
}

.button {
  background: $primary-color;
  border-color: $primary-color;
  color: $light-color;
  padding: 10px 30px;
}

.select, .button {
  cursor: pointer;
}