@import "../../styles/variables";
@import "../../styles/common";

.tripItem {
  column-gap: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;
  max-width: 400px;
  text-decoration: none;
  
  @media (min-width: $md-breakpoint) {
    flex-direction: row;
    max-width: initial;
  }
}

.title {
  @extend .subtitle;
  margin: 0 0 10px 0;
  text-align: left;
}

.imagePlaceholder {
  background: $neutral-color;
  height: 200px;
  width: 100%;

  @media (min-width: $md-breakpoint) {
    width: 200px;
  }
}

.photos {
  height: 200px;
  overflow: hidden;
  width: 100%;

  @media (min-width: $md-breakpoint) {
    width: 200px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.tripData {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 10px;

  @media (min-width: $md-breakpoint) {
    align-items: flex-start;
  }
}

.dates {
  @extend .text;
  color: $neutral-color;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  @media (min-width: $md-breakpoint) {
    flex-direction: row;
    font-size: 16px;
    gap: 20px;
  }
}